@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dela+Gothic+One&family=Montserrat:wght@400;900&family=Open+Sans:wght@400;500;700&family=Orbitron:wght@400;600;700&family=Oswald:wght@200;400;700&family=Poppins:wght@100;200;300&family=Roboto+Slab:wght@300;700;900&family=Roboto:wght@400;500&family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    transition: 500ms;

}

body{ 
    margin-top: 40px;
    margin-left: 40px;  
    margin-right: 40px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

nav .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 100;
}
nav img{
    height: 37px;
    cursor: pointer;
}
nav .nav-items  .nav-item{
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
}
.active-item{
    font-family: 'Fredoka One';
    color: #FD5E35;
}
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.hamburger{
    display: none;
}

/* media quries for under screen 1050 */

@media screen and (max-width: 1050px){
    nav{
        overflow-x: hidden;
    }
    body{ 
        margin-top: 40px;
        margin-left: 5px;  
        margin-right: 5px;
        overflow-x: hidden;
    }
    
    .intro-section{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .right-section{
        height: 500px;
    }
    .left-section{
        text-align: center;
        margin-top: 40px;
        margin-top: 0px;
    }
    nav .nav-items{
      display: none;
        background-color: black;
    }
    
    .hamburger{
        display: block;
      height: 20px;
      margin-right: 1rem;
    }  
    
}

@media screen and (max-width: 470px){
   
    .left-section h3{
        font-size: 1rem;
    }
    .left-section h3 img{
        width: 15%;
    }
    .intro-section h1{
        font-size: 3rem;
    }
    .action-btn{  
        font-size: .8rem;
        margin-right:25px ;
        padding: 8px 16px;
        border-radius: 40px;
    }
    .action-btns{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .headphone-div img{
        height: 200px;
    }
}

.left-section{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.left-section h3{
    height: 10%;
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 300;
}

.left-section h3 img{
    height: 50%;

}
.intro-section h1{
    font-size: 3.75rem;
    font-family: 'Fredoka One';
    letter-spacing: 1.3px;
}

.sub-headlines{

    text-align: left;
    font-size: 25px;
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.sub-headline img{
     background-color: #FD5E35;
     border-radius: 50%;
     height: 15px;
     padding: 5px;
     margin: 3px;
     margin-top: 10px;
     margin-bottom: 0px;
}
.sub-headline text{
    margin-bottom: 40px;
}

.text{
    color: #BEBEBE;
    margin-bottom: 40px;
    margin-right: 60px;
}

.action-btn{
    border: 1px solid #fd5e35;  
    background-color: #FD5E35;
    color: #fff;
    font-family: 'Poppins';
    font-size: 20px;
    margin-right:25px ;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
}
.action-btn:hover{
    background-color:#fff ;
    color: #FD5E35;
    border: 1px solid #fd5e35;
}

.right-section{
    height: 580px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discount-content, .discount{
    position: absolute;
}
.headphone-div img{
    height: 480px;
}
.discount{
    width: 130px;
    top: 10rem;
}
.right-section button{
    width: 200px;
    margin: 10px auto;
    margin-top: 30px;
}
.discount-content{
    font-weight: 20px;
    bottom: 8.5rem;
    margin-left: 20px;
    color: #fff;

}

.discount-content h1{
font-size: 45px;
}

.dots{
    position:absolute;
    display: flex;
    bottom: 5rem;
    right: 40%;
}
.yellow-dot, .tomato-dot, .black-dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 20px;
   cursor: pointer;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: tomato;
}

.black-dot{
    background-color: black;
}